*{
  margin: 0;
}

@media screen and (min-width: 480px){
  .small-image{
      background-repeat: no-repeat;
  }
  .sunny-day{
      background-image: url(../assets/images/dawn.png);
      width: 100%;
      height: 480px;
  }
  .kitten-small{
      background-image: url(../assets/images/kitten-large.png);
      position: absolute;
      top: 30%;
      height:300px;
      width: 100%; 
      left: 0%; 
  }
}


@media screen and (min-width:768px){
  .medium-image{
      background-repeat: no-repeat;
      overflow: hidden;
      position: absolute;
  }
  .nigth-image{
      background-image: url(../assets/images/night.jpg);
      height: 615px;
      background-size: cover;
      width: 100%;
      top: 0;
  }
  .kitten-medium{
      background-image: url(../assets/images/kitten-small.png);
      height: 300px;
      top: 50%;
      left: 30%;
      width: 350px;
  }
}


